* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: rgb(32, 32, 196);
    font-family: 'Poppins', sans-serif;
}
main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;

}
h1 {
    padding-top: 16px;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: rgb(36, 201, 160);
}
h3 {
    margin-top: 20px;
    text-align: center;
}
.author {
    font-weight: 600;
    color: rgb(36, 201, 160);
    text-align: center;
}
h2 {
    color: rgb(36, 201, 160);
}
.intro {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    color: rgb(235, 235, 235);
}
#container1 {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.form__container-values {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.form__container-values label {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(36, 201, 160);
}
#date_input, #team_input{
    padding: 4px;
    margin-bottom: 8px;
}
.selecter {
    width: auto;
    display: flex;
    align-items: baseline;
    flex-direction: column;
}
.selecter label {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(36, 201, 160);
}
#match {
    padding: 4px;
}
#btn {
    padding: 8px;
    margin-top: 20px;
    border:0.5px solid rgb(36, 201, 160);;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(29, 144, 115);
    cursor: pointer;
}
#btn:focus {
    box-shadow: 0 0 5px  rgb(36, 201, 160);
}
#container2 {
    margin-top: 12px;
}
#container2 .contairner2__result{
    font-size: 16px;
    font-weight: 600;
    color: rgb(36, 201, 160);
}
#container2__results-container {
    padding-right: 12px;
}
#container2__results-container p:last-child {
    border-bottom: none;
}
.result {
    margin-top: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    color: rgb(227, 227, 227);
}

@media(min-width: 800px) {
    .container0 {
        width: 100%;
        display: flex;
    }
    #container1 {
        margin-top: 12px;
    }
    #container2 {
        padding-left: 30px;
    }
    #container2 #container2__results-container .result {
        color: rgb(0, 15, 28);
    }
}